{% extends 'base.html' %}

{% block title %} Clientes {% endblock%}

{% block content %}
    <h1>Clientes:</h1>

    {% for cliente in clientes %}
    <div class = "tabela-clientes">
        <div><a href="/cliente/{{cliente.id}}">{{ cliente.nome }}</a></div>
        <div><a href="/edit/{{cliente.id}}"><button value="Editar" class="botao">Editar</button></a></div>
        <div><a href="/delete/{{cliente.id}}"><button value="Editar" class="botao">Deletar</button></a></div>
    </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if clientes.has_previous %}
                <a href="?page={{ clientes.previous_page_number }}"><p>voltar</p></a>
            {% else %}
                <p></p>
            {% endif%}

            <span class="current-page">
                {{ clientes.number }} de {{ clientes.paginator.num_pages }}
            </span>

            {% if clientes.has_next %}
                <a href="?page={{ clientes.next_page_number }}"><p>avançar</p></a>
            {% endif%}
        </span>
    </div>
{% endblock %}
    